Customer Statement of Requirements
	Parking at Sacramento State is a hassle. After arriving at the school, one can expect spending 5-15 minutes locating a vacant spot to park. At peak times this time can become even greater. And at the beginning of the semester when people are trying to add classes, the parking situation can get so bad that students get so frustrated that they turn around and go home because they can’t find a vacant spot. According to source, students that don’t make it to class on time on average have GPA’s that are # points lower than their punctual counterparts and students that don’t make it to class have GPA’s that are # lower. This is a huge problem and needs to be resolved.
       Currently, in an effort to ease the strain on the current parking lot system at Sac State, they have decided to build an entirely new 5 story parking structure that will cost around $25 million to complete. There is also an app on the Sac State App that provides “real time” parking availability that has proven to be completely worthless and does not provide good enough information to be useful. And finally there is temporary road work sign that is used at the North entrance of the school to display which lots are full. Clearly this situation is a mess. The system is disorganized and instead of spending $25 million to build new structures, we believe that more connected and responsive parking lots will be able to help parking enforcement and students come to a more logistic friendly resolution when it comes to parking.
        
