<div>
  <header>
      <h3>
          <span class="glyphicon glyphicon-map-marker"></span>
          {{ lot.pLotName }} - {{ lot.pLotDesc }}
      </h3>
  </header>
  <br />
  <form (ngSubmit)="submit()" #lotForm="ngForm" class="editForm" novalidate>
    
    <div class="form-group">
      <label>Lot Name</label>
      <input type="text" class="form-control" name="pLotName" [(ngModel)]="lot.pLotName" #pLotName="ngModel" required />
      <div class="alert alert-danger" [hidden]="pLotName.untouched || pLotName.valid">Name is required</div>
    </div>
    
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="pLotDesc" [(ngModel)]="lot.pLotDesc" #pLotDesc="ngModel" required />
      <div class="alert alert-danger" [hidden]="pLotDesc.untouched || pLotDesc.valid">Description is required</div>
    </div>
    
    <div class="form-group">
      <label>Parking Light</label>
      <br />
      <div class="radio">
        <label>
          <input type="radio" name="pLotSign" [(ngModel)]="lot.pLotSign" #pLotSign="ngModel" value="greenlight" required />
          Green - parking available
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="pLotSign" [(ngModel)]="lot.pLotSign" #pLotSign="ngModel" value="redlight" required /> 
          Red - parking not available
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <label>Status</label>
      <select class="form-control" 
              [(ngModel)]="lot.pLotState"
              name="pLotState" 
              required>
              <option value="Active">Active</option>
              <option value="Suspended">Suspended</option>
              <option value="Closed">Closed</option>
      </select>
    </div>
    
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" 
              [(ngModel)]="lot.pLotType"
              name="pLotType" 
              required>
              <option value="Faculty">Faculty</option>
              <option value="Faculty/Staff">Faculty/Staff</option>
              <option value="Disabled">Disabled</option>
              <option value="Resident">Resident</option>
              <option value="Student">Student</option>
      </select>
    </div>
    
    <div class="form-group">
      <label>Vacancy</label>
      <input type="text" class="form-control" name="pLotVacancy" [(ngModel)]="lot.pLotVacancy" #pLotVacancy="ngModel" required pattern="^[0-9]+$" />
      <div class="alert alert-danger" [hidden]="pLotVacancy.untouched || pLotVacancy.valid">Number of vacancies is required</div>
    </div>
    
    <div class="form-group">
      <label>Latitude</label>
      <input type="text" class="form-control" name="pLotGeoLat" [(ngModel)]="lot.pLotGeoLat" #pLotGeoLat="ngModel" required />
      <div class="alert alert-danger" [hidden]="pLotGeoLat.untouched || pLotGeoLat.valid">Geo Latitude Coordinate is required</div>
    </div>
    
    <div class="form-group">
      <label>Longitude</label>
      <input type="email" class="form-control" name="pLotGeoLong" [(ngModel)]="lot.pLotGeoLong" #pLotGeoLong="ngModel" required />
      <div class="alert alert-danger" [hidden]="pLotGeoLong.untouched || pLotGeoLong.valid">Geo Longitude Coordinate is required</div>
    </div>

    <br />

    <div *ngIf="lot">
      <div class="alert alert-warning" *ngIf="lot._id && deleteMessageEnabled">
         Delete Lot?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
         <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
      </div>
      <button class="btn btn-danger" *ngIf="lot._id && !deleteMessageEnabled" (click)="deleteMessageEnabled = true">Delete</button>&nbsp;&nbsp;

      <div class="pull-right" *ngIf="!deleteMessageEnabled">
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!lotForm.valid">{{ operationText }}</button>
      </div>
    </div>
    <br />
    <br />
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>

  </form>
</div>